@import url(./reset.css);

input[name='delay'] {
  display: block;
  margin-top: 8px;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #808080;

  display: flex;
  max-width: 360px;
  max-height: 40px;
  min-width: 360px;
  min-height: 40px;
  justify-content: center;
  align-items: center;
}

label,
legend {
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

fieldset {
  display: flex;
  gap: 48px;

  max-width: 264px;
  max-height: 64px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;

  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 48px;
  padding-right: 48px;

  margin-bottom: 24px;
}

fieldset:hover {
  border-color: #000;
}

button[type='submit'] {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: #4e75ff;

  outline: none;
  border: none;

  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button[type='submit']:hover {
  background: #6c8cff;
}
